/* mobile devices */
@media only screen and (max-width: 768px) {
  /* global css */
  header,
  section {
    margin-bottom: 3rem;
  }

  /* utilities */

  .text-danger {
    display: none;
  }
  .primary-title {
    font-size: 3rem;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }
  .primary-btn {
    margin: 0 auto;
    width: 100%;
  }

  /* navbar */
  #nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-list {
    display: none;
  }

  /* banner */
  .banner-area {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .banner-text {
    text-align: center;
    width: 100%;
  }

  .banner-img-wrapper {
    display: none;
  }

  /* about */

  .about-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem 0;
  }
  .about-div img {
    width: 15rem;
    height: 15rem;
  }

  /* courses */
  .courses-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0;
  }

  /*  testimonial */
  .testimonial {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonial p {
    width: 100%;
    text-align: center;
    margin: 1rem auto 0;
  }
  .testimonial-img-wrapper {
    width: 50%;
    margin: 0 auto;
  }

  /* footer */
  #footer {
    height: auto;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-right-top-div {
    flex-direction: column;
  }

  .footer-right-top-div ul {
    margin-bottom: 1rem;
  }
}

/* for tablet and laptop */
@media only screen and (max-width: 1279px) and (min-width: 769px) {
  /* global css */
  header,
  section {
    margin-bottom: 3rem;
  }

  /* utilities */

  .primary-title {
    font-size: 3rem;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }
  .primary-btn {
    margin: 0 auto;
    width: 30%;
  }

  /* navbar */
  #nav {
    margin-bottom: 5rem;
  }

  .nav-list {
    flex-basis: 50%;
  }
  .nav-list li {
    margin-right: 1rem;
  }

  /* banner */

  .banner-text {
    text-align: center;
    width: 100%;
  }

  .banner-disc {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .banner-disc .primary-btn {
    width: 50%;
    margin: 0 auto;
  }

  /* about */

  .about-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .about-div img {
    width: 15rem;
    height: 15rem;
  }

  /* courses */
  .courses-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
